body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.flex-container {
  display: flex;
}

.mainMap {
  width: 80%;
  height: 940px;
}

.travel-list {
  width: 20%;
  padding: 10px 5px 0px 15px;
}

h1 h2 {
  font-family: Ubuntu;
}
